<html>
<head>
  <title>Name Length Counter</title>
</head>
<body>
  <h1>Name Length Counter</h1>
  <form action="/count" method="POST">
    <label for="name">Enter your name:</label><br>
    <input type="text" id="name" name="name"><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>