<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Customers</title>
  </head>
  <body>
    <div class="center">
      <table>
        <tr>
          <th><b>Key</b></th>
          <th><b>Name</b></th>
          <th><b>Surname</b></th>
        </tr>
        <% table.forEach(test => { %>
        <tr>
          <td><%= test.line1 %></td>
          <td><%= test.line2 %></td>
          <td><%= test.line3 %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
