<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>vdGryp</title>
  </head>
  <body>
    <div>
      <form method="POST" action="/query">
        <input type="text" id="inputbox" placeholder="Search..">
        <button type="submit">Search</button>
      </form>
      <form method="POST" action="/upload">
        <input type="text" id="name" placeholder="Name..">
        <input type="text" id="surname" placeholder="Surname..">
        <button type="submit">Upload</button>
      </form>
    </div>

    <div class="center">
      <table>
        <tr>
          <th><b>Key</b></th>
          <th><b>Name</b></th>
          <th><b>Surname</b></th>
        </tr>
        <% table.forEach(test => { %>
        <tr>
          <td><%= test.line1 %></td>
          <td><%= test.line2 %></td>
          <td><%= test.line3 %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
